@import "basic_style.scss";
@import "../../node_modules/slick-carousel/slick/slick-theme.css";
@import "../../node_modules/slick-carousel/slick/slick.css";
@import '../../node_modules/fortawesome/fontawesome-free/css/all.min.css';

$background_color_1: white;
$button_color: #337ab7;
$font_color: #86898b;
$background_color_2: #f7f7f7;
$font_color_dark: #3b3f43;
$box_shadow: #7dbaea;
$error-bg: #f8d7da;
$error-border: #f5c2c7;
$blue_background: #3398da;
a{
  color: $font_color;
}
h1 {
  font-size: 30px;
  font-weight: bold;
  color: $font_color_dark;
}
h2{
  font-size: 24px;
  font-weight: bold;
  color: $font_color_dark;
}
h4 {
  font-size: 16px;
  color: $font_color;
}
%container{
  max-width: 1190px;
  padding: 0 15px;
  margin: 0 auto;
}
// Header
header{
  background-color: $background_color_1;
  position: fixed;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  z-index: 1000;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}
.header-container {
  @extend %container;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo-img {
  height: 80px;
  width: 80px;
  padding: 10px 0;
}
.menu {
  display: flex;
  align-items: center;
  padding: 5px 0;
}
.main-list {
  display: flex;
  li {
    margin-left: 10px;
    height: 20px;
    display: flex;
    align-items: center;
    a {
      display: block;
      height: 100%;
      padding: 0 10px;
      &:hover {
        border-radius: 20px;
        background-color: $button_color;
        padding: 10px;
        color: $background_color_1;
      }
    }
  }
}
.burger-menu{
  display: none;
}
// Form block
.form-container{
  background-color: $background_color_2;
}
.form-block{
  @extend %container;
  padding-top: 130px;
  display: flex;
  justify-content: space-between;
}
//Content left
.information {
  align-self: flex-end;
  padding-bottom: 140px;
  width: 595px;
  .information-title, {
    margin: 0 auto;
    max-width: 550px;
    h1{
      text-align: center;
    }
  }
  .information-text{
    margin: 0 auto;
    padding-top: 50px;
    max-width: 440px;
    h4{
      text-align: center;
      line-height: 1.7;
    }
  }
}
// Form
.registration-form {
  padding-left: 20px;
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: center;

    label {
      display: flex;
      padding-bottom: 5px;
      color: $font_color;
      a:hover {
        color: $button_color;
      }
      img {
        width: 8px;
        height: 8px;
        margin: auto 0;
        padding-left: 2px;
      }
      span{
        padding-left: 10px;
      }
    }

    h2 {
      padding-bottom: 10px;
    }
    select{
      align-items: center;
      all: unset;
      background-color: $background_color_1;
    }
    .form-input {
      border-radius: 8px;
      width: 550px;
      height: 50px;
      padding-left: 15px;
      padding-right: 15px;
      border: 1px solid $font_color;
      align-items: center;
      font-size: 14px;
      color: $font_color;
      &:focus {
        outline: none;
        border-color: $button_color;
        box-shadow: 0 0 2px 1px $box_shadow;
      }
    }
  }

  &.submitted {
    input:invalid {
      background-color: $error-bg;
      border-color: $error-border;
    }
    select:invalid {
      background-color: $error-bg;
      border-color: $error-border;
    }
    .checkbox input:invalid + span {
      text-decoration: underline;
      text-decoration-color: $error-border;
      text-decoration-thickness: 2px;
    }
  }
}


.form-btn{
  font-size: 16px;
  padding: 20px 0;
  width: 350px;
  margin: 40px auto;
  border-radius: 20px;
  background-color: $button_color;
  color: $background_color_1;
}
// Slider
.website-development-title{
  text-align: center;
  padding-top: 40px;
  h1{
    font-weight: normal;
  }
}
.website-slider {
  padding-bottom: 30px;
  display: none;
  @extend %container;
}

.website-slider {
  &.slick-slider {
    display: block;
  }
}
.slider-block-img{
  img{
    margin: 0 auto;
  }
}
.slider-block-text{
  padding: 20px 5px;
  h4{
    line-height: 1.5;
  }
}
.slider-block {
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}
.slider-block-title{
  display: inline-block;
  border-bottom: 1px solid $blue_background;
  h2{
    font-weight: normal;
    font-size: 22px;
    margin: 10px 0;
    color: $font_color;
  }

}
.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

//statistics-block
.statistics-block{
  background-color: $blue_background;
}
.statistics-container{
  @extend %container;
  display: flex;
  justify-content: space-between;
  padding: 40px 100px;
}

.statistics-block-container{
  width: 275px;
  text-align: center;
  h2{
    padding: 20px 0;
    color: $background_color_1;
  }
  h4{
    color: $background_color_1;
  }
}
//testimonials (slider)
.testimonials {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonials-container{
  display: flex;
}
.testimonials-block-text {
  h4 {
    font-size: 20px;
    padding: 30px 0;
    line-height: 1.5;
  }
}
.testimonials-block-title {
  h2 {
    color: $font_color_dark;
    font-weight: normal;
    font-size: 30px;
  }
}
.testimonials-slide-container{
  display: flex;
}
.testimonials-slider {
  text-align: center;
  padding: 60px 0;
  display: flex;
  width: 100%;
  max-width: 920px;
}
.testimonials-block-user {
  h3 {
    padding: 10px;
  }
}
.testimonials-block-specialty {
  font-size: 14px;
  h5 {
    color: $font_color;
    font-style: italic;
  }
}
.testimonials-lower-legs {
  i {
    font-size: 50px;
    color: $font_color;
    padding: 0 10px;
    margin-bottom: 10px;
  }
}
.testimonials-upper-legs {
  i {
    font-size: 50px;
    color: $font_color;
    padding: 0 10px;

  }
}
.slick-dots li {
  margin: 0;
  button:before {
    font-size: 10px;
  }
}
.testimonials-lower-legs{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
//video
.video{
  width: 100%;
  background-color: $background_color_2;
  .video-container {
    @extend %container;
    padding: 40px 0;
  }
}
.video-container-title {
  text-align: center;
  padding-bottom: 20px;
  h1{
    font-weight: normal;
  }
}
.video-container-text {
  padding: 0 10px 10px;
  text-align: center;
  line-height: 1.5;
  h4{
    font-size: 17px;
  }
}
.video-container-link {
  display: flex;
  justify-content: center;

  iframe {
    max-width: 1020px;
    width: 100%;
    height: 500px;
    padding: 10px 20px;
  }
}

// mentors
.mentors {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}
.mentors-container{
  display: flex;
}
.testimonials-slide-container{
  display: flex;
}
.mentors-title{
  h1{
    padding-right: 80px;
    font-weight: normal;
  }
}
.mentors-slider {
  text-align: center;
  display: flex;
  width: 100%;
  max-width: 1190px;
  padding: 0 15px;
}
.mentors-information{
  display: flex;
}
.mentors-information-text{
  h4{
    text-align: left;
    padding: 10px  0 10px 100px;
    line-height: 1.5;

  }
}
.mentors-information{
  padding: 10px 0;
  img{
    padding-left: 40px;
  }
}
.mentors-information-title{
  padding: 20px  0 20px 100px;
  text-align: left;
  color: $blue_background;
  font-weight: bold;
}
//map
.map{
  iframe{
    width: 100%;
    height: 400px;
    border: none;
  }
}
// CTA
.call{
  background-color: $blue_background;
}
.call-container{
  @extend %container;
  display: flex;
  justify-content: space-between;
  padding: 40px 100px;
}

.call-block-container{
  width: 210px;

  text-align: center;
  h2{
    padding: 20px 0;
    color: $background_color_1;
  }
  h4{
    color: $background_color_1;
  }
  a{
    color: $background_color_1;
    &:hover{
      text-decoration: underline;
    }
  }
}
.call-block-icons{
  font-size: 55px;
  color: $background_color_1;
}
//footer
.footer-container{
  @extend %container;
  text-align: center;
  padding: 50px 0;
  div{
    padding: 10px 0;
  }
}
.footer-container-info{
  h4{
    color: #337ab7;
    padding: 0 10px;
  }
}
.footer-container-conditions{
  a{
    &:hover{
      color: #337ab7;
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 1024px) {

  .header-container {
    display: block;
    align-items: center;
  }
  .header-logo {
    display: flex;
    align-content: center;
  }
  .main-list, .header-logo-img {
    margin: 0 auto;
  }
  .main-list li {
    margin: 5px;
    padding-bottom: 10px;
    font-size: 15px;
  }
  .form-block {
    flex-direction: column;
  }
  .information {
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .registration-form {
    margin: 0 auto;
    max-width: 768px;
    padding: 0;

    .h2 {
      text-align: center;
    }

    div {
      margin: 10px auto;
      display: flex;
      justify-content: center;

    }
  }
  .statistics-block-container {
    padding: 10px;
  }
  .call-block-container {
    padding: 10px;
  }
  .video-container-link {
    padding: 0 20px;
    iframe {
      max-width: 1024px;
      max-height: 400px;
    }
  }
  .slider-block-title{
    h2{
      font-size: 18px;
    }
  }

  .slider-block-text h4 {
    font-size: 14px;
  }
}


@media screen and (max-width: 768px) {
  .menu {
    padding: 0 0 10px 0;
  }
  .main-list {
    display: none;
  }
  .header-container{
    max-width: 730px;
  }
  .header-container-block {

    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .burger-menu {
    max-width: 768px;
    display: block;
    cursor: pointer;
    justify-content: center;
    align-items: center;
  }
  .burger-icon {
    width: 25px;
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: $button_color;
    border-radius: 2px;
    padding: 7px;
  }
  .bar {
    width: 80%;
    height: 2px;
    background-color: $background_color_1;
  }
  .burger-menu.show {
    display: flex;
    justify-content: center;
  }
  .main-list.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    li {
      border-right: none;
      padding: 5px;
    }
  }
  .registration-form {
    div {
      label {
        a:after {
          color: $button_color;
        }
      }
    }
  }
  .information {
    max-width: 100%;
    padding-top: 0;
    padding-bottom: 40px;

    .information-title {
      h1 {
        font-size: 21px;
      }
    }
    .information-text{
      h4{
        font-size: 13px;
      }
    }
  }
  .registration-form {
    max-width: 500px;
    padding: 0;

    div {
      max-width: 100%;

      .form-input, select {
        max-width: 255px;
      }

      h2 {
        font-size: 19px;
      }
    }
  }
  .form-btn {
    width: 280px;
  }
  .checkbox {
    display: flex;
    justify-content: center;
    width: 287px;

    input {
      margin-bottom: 10px;
    }
  }
  .statistics-container{
    width: 500px;
    padding: 20px 0;
  }
  .call-container{
    padding: 20px 0;
  }
  .statistics-block-container{
    padding: 0 10px;
  }
  .video-container {
    padding: 20px 0;

    .video-container-text {
      padding: 10px 20px;
    }

    .video-container-link {
      iframe {
        max-width: 768px;

        padding: 5px 10px;
      }
    }
  }
  .video-container-link {
    padding: 0 20px;

    iframe {
      max-width: 380px;
      max-height: 200px;
    }
  }
  .video-container-text {

    h4 {
    }
  }
  .mentors-information {
    display: flex;
    flex-direction: column;
  }
  .mentors-title {
    h2 {
      padding: 0;
      text-align: center;

    }
  }
  .mentors-information-img{
    display: flex;
    justify-content: center;
    img{
      padding: 0;
    }
  }
  .mentors-information-title{
    padding: 20px 0;
    text-align: center;
  }
  .mentors-information-text{
    h4{
      padding: 5px 0;
      text-align: center;
      font-size: 15px;
    }
  }
  .mentors-information{
    img{
      width: 70%;
    }
  }
}
@media screen and (max-width: 600px) {
  .statistics-container, .call-container {
    width: 280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .statistics-block-container {
    width: 125px;
    padding: 5px;
    img {
      width: 50px;
    }
    h2{
      padding: 10px 0;
      font-size: 16px;
    }
    h4 {
      font-size: 10px;
    }
  }
  .call-block-container{
    width: 125px;
    padding: 5px;
    .call-block-icons{
      font-size: 30px;
    }
    h2{
      padding: 10px 0;
      font-size: 16px;
    }
    h4 {
      font-size: 10px;
    }
  }
  .call-block-text{
    a{
      font-size: 10px;
    }
  }
  .testimonials-block-text{
    h4{
      font-size: 15px;
    }
  }
  .website-development-title{
    h1{
      font-size: 22px;
    }
  }
}
@media screen and (max-width: 400px) {
  .header-logo-img {
    height: 60px;
    width: 60px;
  }
  .header-container-block {
    padding: 0;
  }
  .testimonials-block-title {
    h2 {
      font-size: 22px;
    }
  }
  .testimonials-upper-legs, .testimonials-lower-legs {
    i {
      font-size: 20px;
      padding: 20px 5px;
    }
  }
  .video-container-link {
    iframe {
      width: 300px;
    }
  }
}