@import "base/basic_style.scss";
@import "base/variables.scss";
@import "base/mixins.scss";
a{
  color: $font_color;
}
h1 {
  font-size: 30px;
  font-weight: bold;
  color: $font_color_dark;
}
h2{
  font-size: 24px;
  font-weight: bold;
  color: $font_color_dark;
}
h4 {
  font-size: 16px;
  color: $font_color;
}
.slick-dots li {
  margin: 0;
  button:before {
    font-size: 10px;
  }
}
// header
@import "layout/header";
//form
@import "layout/blocks/form.scss";
// slider
@import "layout/blocks/website-development.scss";
//statistics-block
@import "layout/blocks/statistics-block.scss";
//testimonials
@import "layout/blocks/testimonials.scss";
//video
@import "layout/blocks/video.scss";
// mentors
@import "layout/blocks/mentors.scss";
// map
@import "layout/blocks/map.scss";
// cta
@import "layout/blocks/cta.scss";
// footer
@import "layout/footer.scss";






