@import "basic_style.scss";
$color_1: white;
$color_2: #337ab7;
$color_3: #86898b;
$color_4: #f7f7f7;
$color_5: #3b3f43;
$color_6: #7dbaea;
$error-bg: #f8d7da;
$error-border: #f5c2c7;
a{
  color: $color_3
}
h1 {
  font-size: 34px;
  font-weight: bold;
  color: $color_5;
}
h2{
  font-size: 24px;
  font-weight: bold;
  color: $color_5;
}
h4 {
  font-size: 16px;
  color: $color_3;
}
%container{
  max-width: 1190px;
  padding: 0 15px;
  margin: 0 auto;
}
// Header
header{
  background-color: white;
  position: fixed;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}
.header-container {
  @extend %container;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo-img {
  height: 80px;
  width: 80px;
  padding: 10px 0;
}
.menu {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.main-list {
  display: flex;
  li {
    margin-left: 10px;
    height: 20px;
    display: flex;
    align-items: center;
    a {
      display: block;
      height: 100%;
      padding: 0 10px;
      &:hover {
        border-radius: 20px;
        background-color: $color_2;
        padding: 10px;
        color: $color_1;
      }
    }
  }
}
.burger-menu{
  display: none;
}
// Form block
.form-container{
  background-color: $color_4;
}
.form-block{
  @extend %container;
  padding-top: 130px;
  display: flex;
  justify-content: space-between;
}
//Content left
.information {
  align-self: flex-end;
  padding-bottom: 140px;
  width: 595px;
  .information-title, {
    margin: 0 auto;
    max-width: 550px;
    h1{
      text-align: center;
    }
  }
  .information-text{
    margin: 0 auto;
    padding-top: 40px;
    max-width: 510px;
    h4{
      text-align: center;
      line-height: 2;
    }
  }

}
// Form
.registration-form {
  padding-left: 20px;
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: center;

    label {
      padding-bottom: 5px;
      color: $color_3;
      a:hover {
        color: $color_2;
      }
      span {
        color: red;
      }
    }

    h2 {
      padding-bottom: 10px;
    }
    select{
      align-items: center;
      all: unset;
      background-color: $color_1;
    }

    .form-input {
      border-radius: 8px;
      width: 550px;
      height: 50px;
      padding-left: 15px;
      padding-right: 15px;
      border: 1px solid $color_3;
      align-items: center;
      font-size: 14px;
      color: $color_3;
      &:focus {
        outline: none;
        border-color: $color_2;
        box-shadow: 0 0 2px 1px $color_6;
      }
    }
  }

  &.submitted {
    input:invalid {
      background-color: $error-bg;
      border-color: $error-border;
    }
    select:invalid {
      background-color: $error-bg;
      border-color: $error-border;
    }
    }
  }

.checkbox{
  label{
    a:focus{
      outline: none;
      box-shadow: none;
    }
    input{
      width: 15px;
      height: 15px;
      outline: none;
      box-shadow: $color_1;
    }
  }
  padding-bottom: 20px;
}
.form-btn{
  font-size: 16px;
  padding: 20px 0;
  width: 350px;
  margin: 40px auto;
  border-radius: 20px;
  background-color: $color_2;
  color: $color_1;
}



@media screen and (max-width: 1024px) {
  .header-container{
    display: block;
    align-items: center;
  }
  .header-logo{
    display: flex;
    align-content: center;
  }
  .main-list, .header-logo-img{
    margin: 0 auto;
  }
  .main-list li {
    margin: 5px;
  }
  .form-block{
    flex-direction:column;
  }
  .information{
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .registration-form{
    margin: 0 auto;
    max-width: 768px;
    padding: 0;
    .h2{
      text-align: center;
    }
    div{
      margin: 10px auto;
      display: flex;
      justify-content: center;

    }
  }
}
@media screen and (max-width: 768px) {
  .menu {
    padding: 0 0 10px 0;
  }
  .main-list {
    display: none;
  }
  .header-container-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
  }
  .burger-menu {
    display: block;
    cursor: pointer;
    justify-content: center;
    align-items: center;
  }
  .burger-icon {
    width: 25px;
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: $color_2;
    border-radius: 2px;
    padding: 7px;
  }
  .bar {
    width: 80%;
    height: 2px;
    background-color: $color_1;
  }
  .burger-menu.show {
    display: flex;
    justify-content: center;
  }
  .main-list.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    li {
      border-right: none;
      padding: 5px;
    }
  }
  .information{
    max-width: 100%;
    padding-top: 0;
    padding-bottom: 40px;
    .information-title{
      h1{
        font-size: 24px;
      }
    }
  }
  .registration-form {
    max-width: 500px;
    padding: 0;
    div{
      max-width: 100%;
      .form-input, select{
        max-width: 255px;
      }
      h2{
        font-size: 22px;
      }
    }
  }
  .form-btn{
    width: 280px;
  }
  .checkbox{
    display: flex;
    justify-content: center;
    width: 287px;
    input{
      margin-bottom: 10px;
    }
  }
  .checkbox-text{
    display: inline;
    padding-left: 10px;
  }
}
@media screen and (max-width: 400px) {
  .header-logo-img {
    height: 60px;
    width: 60px;
  }
  .header-container-block {
    padding: 0;
  }


  }