$background_color_1: white;
$button_color: #337ab7;
$font_color: #86898b;
$background_color_2: #f7f7f7;
$font_color_dark: #3b3f43;
$box_shadow: #7dbaea;
$error-bg: #f8d7da;
$error-border: #f5c2c7;
$blue_background: #3398da;