.form-container {
  background-color: $background_color_2;
  overflow-x: hidden;
}

.form-block {
  @extend %container;
  padding-top: 130px;
  display: flex;
  justify-content: space-between;
}
//Content left
.information {
  align-self: flex-end;
  padding-bottom: 180px;
  width: 595px;

  .information-title {
    margin: 0 auto;
    max-width: 550px;

    h1 {
      text-align: center;
    }
  }

  .information-text {
    margin: 0 auto;
    padding-top: 50px;
    max-width: 440px;

    h4 {
      text-align: center;
      line-height: 1.7;
    }
  }
}

// Form
.registration-form {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  .message {
    height: 20px;
    color: $error-border;
    text-align: left;

  }
  .message.success {
    color: darkolivegreen;
    font-style: italic;
  }
  div {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: center;

    label {
      display: flex;
      padding-bottom: 5px;
      color: $font_color;

      a:hover {
        color: $button_color;
      }

      img {
        width: 8px;
        height: 8px;
        margin: auto 0;
        padding-left: 2px;
      }

      span {
        padding-left: 10px;
      }
    }

    h2 {
      padding-bottom: 10px;
    }

    select {
      align-items: center;
      all: unset;
      background-color: $background_color_1;
    }

    .form-input {
      border-radius: 8px;
      width: 550px;
      height: 50px;
      padding-left: 15px;
      padding-right: 15px;
      border: 1px solid $font_color;
      align-items: center;
      font-size: 14px;
      color: $font_color;

      &:focus {
        outline: none;
        border-color: $button_color;
        box-shadow: 0 0 2px 1px $box_shadow;
      }
    }
  }
  &.submitted {
    input:invalid {
      background-color: $error-bg;
      border-color: $error-border;
    }

    select:invalid {
      background-color: $error-bg;
      border-color: $error-border;
    }

    .checkbox input:invalid + span {
      text-decoration: underline;
      text-decoration-color: $error-border;
      text-decoration-thickness: 2px;
    }
  }
}

.form-btn {
  font-size: 16px;
  padding: 20px 0;
  width: 350px;
  margin: 40px auto;
  border-radius: 20px;
  background-color: $button_color;
  color: $background_color_1;
}
@media screen and (max-width: 1024px) {
  .form-block {
    flex-direction: column;
  }
  .information {
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .registration-form {
    margin: 0 auto;
    max-width: 768px;
    padding: 0;

    .h2 {
      text-align: center;
    }

    div {
      margin: 10px auto;
      display: flex;
      justify-content: center;

    }
  }
}
@media screen and (max-width: 768px) {
  .information {
    max-width: 100%;
    padding-top: 0;
    padding-bottom: 40px;

    .information-title {
      h1 {
        font-size: 21px;
      }
    }
    .information-text{
      h4{
        font-size: 13px;
      }
    }
  }
  .registration-form {
    max-width: 500px;
    padding: 0;

    div {
      max-width: 100%;
      label {
        a:after {
          color: $button_color;
        }
      }
      .form-input, select {
        max-width: 255px;
      }

      h2 {
        font-size: 19px;
      }
    }
  }
  .form-btn {
    width: 280px;
  }
  .checkbox {
    display: flex;
    justify-content: center;
    width: 287px;

    input {
      margin-bottom: 10px;
    }
  }
}