// Header
header{
  background-color: $background_color_1;
  position: fixed;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  z-index: 1000;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}
.header-container {
  @extend %container;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo-img {
  height: 80px;
  width: 80px;
  padding: 10px 0;
}
.menu {
  display: flex;
  align-items: center;
  padding: 5px 0;
}
.main-list {
  display: flex;
  li {
    margin-left: 10px;
    height: 20px;
    display: flex;
    align-items: center;
    a {
      display: block;
      height: 100%;
      padding: 0 10px;
      &:hover {
        border-radius: 20px;
        background-color: $button_color;
        padding: 10px;
        color: $background_color_1;
      }
    }
  }
}
.burger-menu{
  display: none;
}